* {
  box-sizing: border-box;
}

body,
html {
  background-color: #e6e6e6;
  margin: 0;
  padding: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
  font-family: "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00749a;
}

p {
  text-align: center;
}

.content {
  max-width: 80%;
  margin: 1rem  auto;
  padding: 1rem;
  background-color: #fff;
  -moz-box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3);
  -webkit-box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3);
  box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3);
}

.title {
  font-size: 2rem;
  color: #424242;
  text-align: center;
  font-family: Montserrat, "Lucida Grande", Helvetica, Arial, sans-serif;
}

.title > span {
  color: #00749a;
}

.img-logo{
  display: block;
  margin: auto;
  width: 60%;
}

@media (max-width : 960px) {
  .img-logo {
    width: 100%;
  }

}

.text-default{
  font-size: 1em;
  display: block;
  padding: 0;
  margin: 0;
}

.text {
  font-size: 1em;
  display: block;
  padding: 1em;
  background-color: #fcf8e3;
  color: #8A6D3B;
  border: 1px solid #faebcc;
  text-align: center;
}

.message {
  font-size: 1rem;
}

.success {
  color: #3c763d;
}

.error {
  color: #a94442;
}

#join-form {
  display: block;
  margin-top: 1rem;
}

input[type="text"] {
  border: 1px solid #ddd;
  color: #666;
  padding: .5rem;
  font-size: 1rem;
  width: 50%;
  height: 40px;
  outline: 0;
  display: block;
  text-align: center;
  margin: auto;
}

input[type="submit"],
form .forum {
  padding: 1.5rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 40%;
  outline: 0;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: normal;
}

@media screen and (max-width: 600px) {
  input[type="submit"],
  form .forum {
    width: 100%;
  }
}

input[type="submit"] {
  border: 1px solid #ebccd1;
  background-color: #f2dede;
  color: #982422;
  display: inline-block;
  width: 50%;
  margin-left: 0;
  font-weight: bold;
  transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
  font-family: Montserrat, "Lucida Grande", Helvetica, Arial, sans-serif;
  border-radius: 2%;
}
form .forum {
  border: 1px solid #bce8f1;
  background-color: #d9edf7;
  color: #1b6a91;
  display: inline-block;
  width: 50%;
  margin-right: 0;
  font-weight: bold;
  transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
  font-family: Montserrat, "Lucida Grande", Helvetica, Arial, sans-serif;
  border-radius: 2%;
}

form .forum:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type="submit"]:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
